In this session we'll be using the Spotify dataset to make some interesting Line Charts.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
oo=pd.read_csv('spotify.csv',index_col='Date',parse_dates=True)

In this dataset we are going to be focusing on the 5 most popular songs from 2017 and 2018:
    
    1) "Shape of You", by Ed Sheeran
    2) "Despacito", by Luis Fonzi
    3) "Something Just Like This", by The Chainsmokers and Coldplay
    4) "HUMBLE", by Kendrick Lamar
    5) "Unforgettable", by French Montana

In [3]:
oo.head()

,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
Date,,,,,
2017-01-06,12287078,NaN,NaN,NaN,NaN
2017-01-07,13190270,NaN,NaN,NaN,NaN
2017-01-08,13099919,NaN,NaN,NaN,NaN
2017-01-09,14506351,NaN,NaN,NaN,NaN
2017-01-10,14275628,NaN,NaN,NaN,NaN

In [4]:
oo.tail()

,Shape of You,Despacito,Something Just Like This,HUMBLE.,Unforgettable
Date,,,,,
2018-01-05,4492978,3450315.0,2408365.0,2685857.0,2869783.0
2018-01-06,4416476,3394284.0,2188035.0,2559044.0,2743748.0
2018-01-07,4009104,3020789.0,1908129.0,2350985.0,2441045.0
2018-01-08,4135505,2755266.0,2023251.0,2523265.0,2622693.0
2018-01-09,4168506,2791601.0,2058016.0,2727678.0,2627334.0

In [ ]:
So we can see that